@media (min-width: 320px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
        width: 100%;
        padding: 0;
    }

}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
        width: 100%;
    }

    .menu-toggle {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
        width: 100%;
    }

    .menu-toggle {
        display: none;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        width: 100%;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1136px;
        width: 100%;
    }

    .create-box {
        padding-left: 70px;
    }
}

@media (max-width: 1400px) {
    .sezon-wrapper {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        row-gap: 20px !important;
    }

    .sezon-left-wrap {
        margin-right: 0px !important;
    }

    .sezon-right2 {
        margin-top: 30px;
    }

    .left-boxxer {
        margin-left: 0 !important;
    }

    

}

@media (max-width: 1199px) {
    .footer-upper-wrap {
        flex-wrap: wrap;
    }

    .footer-upper {
        height: 900px !important;
    }

    .footer-shop {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    
    .coco-img-wrap {
        overflow-x: scroll;
    }

    

    
}


@media (max-width: 991px) {

    .new-boxxer {
        grid-template-columns: repeat(3,1fr) !important;
    }

    .sezon-right {
        
    }

    .sezon-right2 img {
        width: 100% !important;

    }

}




@media (max-width: 767px) {
    
    .header-list {
        position: fixed !important; 
        flex-direction: column !important;
        padding: 30px 20px !important;
        row-gap: 20px !important;
        top: 0 !important;
        height: 100% !important;
        background-color: #203253 !important;
        right: -100% !important;
    }

    .header-link {
        color: white !important;
    }

    .menu-toggle:focus+.header-list {
        right: 0 !important;
    }

    .enter-a {
        display: none !important;
    }

    .header-nav {
        display: flex !important; 
    }
    .new-boxxer {
        display: grid;
        grid-template-columns: repeat(2,1fr) !important;
    }

    .left-boxxer {
        display: grid;
        grid-template-columns: repeat(2,1fr) !important;
        align-items: center;
    }
    .img-wrap {
        display: flex !important;
        justify-content: center;
        
    }
}

@media (max-width: 575px) {
    .header-nmb {
        display: none !important;
    }

    .header-img-wrap img {
        display: none !important;
    }


    .header-number {
        border: 0 !important;
    }

    .header-worktime {
        border: 0 !important;
    }

    .left-boxxer {
        display: grid;
        grid-template-columns: repeat(1,1fr) !important;
    }

    .new-boxxer {
        grid-template-columns: repeat(1,1fr) !important;
    }

    .porten-box {
        padding: 81px 51px !important;
    }

    .porten-text {
        font-size: 12px !important;
    }

    .sezon-title {
        font-size: 30px !important;
    }

    .sezon-text {
        font-size: 11px !important;
    }

    .sezon-btn {
        font-size: 15px !important;
    } 

    .new-title {
        text-align: center;
    }

    .container {
        width: 100%;
        padding: 0 20px;
    }

    .img-wrap {
        display: flex;
        justify-content: center;
    }

    .right-title {
        font-size: 33px !important;
    }

    .footer-text-box {
        margin-right: 0 !important;
    }

    .footer-title,
    .footer-text,
    .footer-title2,
    .footer-title3,
    .footer-text2 {
        text-align: center !important;
    }

    .footer-text,
    .footer-text2  {
        font-size: 10px !important;
    }

    .footer-title,
    .footer-title3,
    .footer-title2 {
        font-size: 20px !important;
    }

    

    .footer-a-wrap {
        display: flex;
        overflow-x: scroll;
    }

    .footer-shop {
        margin-right: 0 !important;
    }

    .footer-upper-wrap {
        display: block !important;
        row-gap: 30px;
    }

    .footer-shop {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .footer-upper {
        height: 900px !important;
    }
    .mail-wrap {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        justify-content: start !important;
    }



    

} 