/* SITE FONTS */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');


/* SITE ROOTS */
:root {
    --primary-font: 'PT+Sans', sans-serif;
    --secondary-font: 'Playfair+Display+SC', sans-serif;
}

/* GENERAL STYLES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(105, 4%, 80%);
}

::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: .5rem;
}


body {
    background-color: black;

}

a {
    text-decoration: none;
}

ul,
li,
ol {
    list-style: none;
}

input {
    outline: none;
}

.container {
    margin: 0 auto;
    max-width: 1110px;
    width: 100%;
}

button {
    cursor: pointer;
}

/* HEADER */

.header-upper-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 14px;
    align-items: center;
}

.header-phone-wrap {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.phone-img {
    display: flex;
    align-items: center;
}


.header-number {
    font: var(--primary-font);
    font-size: 12px;
    font-weight: 400;
    color: gray;
    border-right: 1px solid gray;
    padding-right: 10px;
}

.header-worktime {
    font: var(--primary-font);
    font-size: 12px;
    font-weight: 400;
    color: gray;
    border-right: 1px solid gray;
    padding-right: 10px;
}

.header-nmb {
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: 400;
    color: gray;
}

.header-open-wrap {
    display: flex;
    align-items: center;
}

.open-img {
    display: flex;
    align-items: center;
}


.enter-a {
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: 400;
    color: gray;
    margin-left: 10px;
}

.header-bottom-wrap {
    background: #0F0F0F;
    padding: 26px 0;

}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-logo {
    display: flex;
}

.header-list {
    display: flex;
    align-items: center;

}


.menu-toggle {
    order: 1;
    color: white;
    font-size: 21px;
}

.header-link {
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 400;
    color: white;
    transition: .5s;
    padding: 31px 20px;
}

.header-link:hover {
    background: #1F1F1F;

}

.header-img-wrap {
    margin-left: 60px;
    display: flex;
    column-gap: 40px;
}


.porten {

    background: url(../img/background-img.png) no-repeat center/cover; 
    height: 810px;
}



.porten-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.porten-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.porten-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid white;
    padding: 93px 67px;
}

.porten-title {
    font-family: var(--primary-font);
    font-size: 22px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;

}

.porten-img {
    max-width: 185px;
    width: 100%;
    padding-bottom: 4px;
}

.porten-img2 {
    max-width: 179px;
    width: 100%;
}

.porten-text {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 80px;
    text-align: center;


}

.sezon-wrapper {
    display: flex;
    justify-content: space-between;

}

.left-title {
    font-family: var(--secondary-font);
    font-size: 36px;
    line-height: 42.19px;
    text-align: center;
    color: white;
    margin-bottom: 50px;
    margin-top: 93px;

}

.left-boxxer {
    display: flex;
    column-gap: 50px;
    margin-left: 80px;
}

.left-img-wrap {
    display: flex;
    justify-content: center;
}

.img-wrap {
    background-color: #191B1C;
    padding: 55px 22px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.left-subtitle {
    font-family: var(--secondary-font);
    font-size: 18px;
    line-height: 21.09px;
    text-align: left;
    color: white;

}

.left-text {
    font-family: var(--secondary-font);
    font-size: 16px;
    line-height: 18.75px;
    text-align: left;
    color: #D0D0D0;


}

.sezon-right {
    background: url(../img/background-img2.png);
    height: 730px;
    max-width: 880px;
    width: 100%;
}

.right-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    row-gap: 30px;
}

.right-title {
    font-family: var(--secondary-font);
    font-size: 36px;
    line-height: 42.19px;
    color: white;


}


.sezon-button {
    color: #FFFFFF;
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: 400;
    padding: 12px 28px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

.sezon-left-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-right: 218px;

}




.sezon-title {
    font-family: var(--primary-font);
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 40px;
}

.img-wrapper2 {
    display: flex;
    justify-content: center;
}

.sezon-text {
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    max-width: 471px;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 61px;

}

.sezon-btn-wrap {
    display: flex;
    justify-content: center;
}

.sezon-btn {
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 400;
    color: white;
    padding: 12px 28px;
    background-color: transparent;
    border: 1px solid #FFFFFF;

}

.new {
    margin-top: 120px;
}



.new-title-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-title {
    font-family: var(--secondary-font);
    font-size: 36px;
    line-height: 42.19px;
    color: #FFFFFF;
    margin-bottom: 40px;

}

.new-boxxer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 23px;
}


.new-wrap {
    background-color: #191B1C;
    padding: 55px 22px;
    margin-top: 50px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.new-subtitle {
    font-family: var(--secondary-font);
    font-size: 18px;
    line-height: 21.09px;
    text-align: left;
    color: white;

}

.new-text {
    font-family: var(--secondary-font);
    font-size: 16px;
    line-height: 18.75px;
    text-align: left;
    color: #D0D0D0;


}