/* SITE FONTS */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');


/* SITE ROOTS */
:root {
    --primary-font: 'PT+Sans', sans-serif;
    --secondary-font: 'Playfair+Display+SC', sans-serif;
}

/* GENERAL STYLES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(105, 4%, 80%);
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: .5rem;
    transition: .3s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
}

body {
    background-color: black;

}

a {
    text-decoration: none;
}

ul,
li,
ol {
    list-style: none;
}

input {
    outline: none;
}

.container {
    margin: 0 auto;
    max-width: 1110px;
    width: 100%;
}

button {
    cursor: pointer;
}

/* HEADER */

.header-upper-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 14px;
    align-items: center;
}

.header-phone-wrap {
    display: flex;
    column-gap: 20px;
}


.header-number {
    font: var(--primary-font);
    font-size: 12px;
    font-weight: 400;
    color: gray;
    border-right: 1px solid gray;
    padding-right: 10px;
}

.header-worktime {
    font: var(--primary-font);
    font-size: 12px;
    font-weight: 400;
    color: gray;
    border-right: 1px solid gray;
    padding-right: 10px;
}

.header-nmb {
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: 400;
    color: gray;
}

.header-open-wrap {
    display: flex;
    align-items: center;
}


.enter-a {
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: 400;
    color: gray;
    margin-left: 10px;
}

.header-bottom-wrap {
    background: #0F0F0F;
    padding: 19px 0;

}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.header-list {
    display: flex;

}


.menu-toggle {
    order: 1;
    color: white;
    font-size: 21px;
}

.header-link {
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 400;
    color: white;
    transition:.5s;
    padding: 31px 20px;
}

.header-link:hover {
    background: #1F1F1F;

}

.header-img-wrap {
    margin-left: 60px;
    display: flex;
    column-gap: 40px;
}





